<body class="loginpage" style="background-image: url('assets/image/Loginpage1.jpg');">
  
    <div class="container">
          
        <div class="row">
              
            <div id="login" style="margin: auto;">

                <h2> Welcome To Online Test Portal</h2>

                <div class="formdiv">
                    <form style="display: block;">
                        <input type="text" class="form-control" placeholder="username or E-mail" />
                        <input type="password" class="form-control" placeholder="password" />
                        <button type="button" class="btn  form-control text-center" style="background-color: green; color: #fff;" (click)="signup()" >SignIn</button>

                    </form>

                </div>



            </div>
        </div>


    </div>



</body>

<!-- <div id="loginpage">


   
       
           <div class="text-center"  style="width: 10%;">
             <form>
               
                     
                      <input type="text"  placeholder="username or E-mail"/> <br>
                    
            
                 <input type="password"  class="form-control" placeholder="password"/>    
                              
             </form>

           </div>

                   
         
           

        </div>

    </div>

</div>
   


</div> -->