#loginpage{
    background-image: url('D:/student_NFB18Backup_Muraliii/Angular/Exam/src/assets/image/Loginpage.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: inherit;
    color: white;
 
}