<div class="container">

    <div class="row">
        <div class="col-12">
            <h1>Test-Setting</h1>
            <hr>
        </div>
    </div>
<div class="row">
<div class="col-12" id="testsetting">
           <h3>Test-settings</h3> 
<hr>   <div>
        <label>Question Model</label>
        <select>
        <option *ngFor="let value of qpaper" value="value" >{{value}}</option>
        </select>
    </div>
<div>
        <label>TotalMark</label>
        <input type="text"/></div>
        <div>
        <label>Cut-Off</label>
        <input type="text"/>
    </div>
    <div>
            <label>Negative Marks</label>
            <input type="text"/>
    </div>
        
</div>
</div>

<div class="row">
    <div class="col-12">
    <h3>Date & Time Settings</h3><hr>


    </div>


</div>


<div class="row" id="generalsetting">
<div class="col-12">
   <h3>Generall Settings</h3>
   <hr>
   <div class="form-inline" >
   <label style="width: 15%; justify-content: unset;">Test-Link</label>
      <span style="color:red">http://localhost:8080/NextsphereOnlineTest/</span>
   <input type="text"/>
</div>
<label>Test Instruction</label>
<textarea style="width: 400px; height: 200px;" ></textarea>
</div>

</div>










<!-- <div class="row">
    <div class="col-12">



            <h3>Canditate Settings</h3>
            <hr>
            <div class="row">
            <div class="col-3">
            <label>Field </label><br>
            <em style="color: red;">*Pick required filed for Canditate</em>
        </div>
<div class="col-9">


 
          <input type="checkbox" /><span>Username</span>
        <input type="checkbox" /> <span>E-mail</span><br>
           <input type="checkbox" /> <span>Number</span>
        <input type="checkbox" /> <span>Experience</span><br>
          <input type="checkbox" /> <span>Username</span>
          <input type="checkbox" />  <span>Username</span><br>
</div>
</div>

        
    

</div>

</div> -->



</div>