#testsetting > div > label{

    width:15%;
    display: inline-block;
}
#testsetting{

    padding-bottom: 2em;
}
#generalsetting{

    padding-bottom: 2em;
}
#generalsetting > div > label{

    width:15%;
    display: inline-block;
}
#ngbDatepicker{

font-size: 4em;
}

#dategroup >label {

    width:15%;
    justify-content: unset;

}

div#timegroup {
    display: flex;
}

div#timegroup > label {
    width: 15%;
}
