#testsetting > div > label{

    width:15%;
    display: inline-block;
}
#testsetting{

    padding-bottom: 2em;
}
#generalsetting{

    padding-bottom: 2em;
}
#generalsetting > div > label{

    width:15%;
    display: inline-block;
}