<div class="container">
    <div class="row ">
<div class="col-12">
    <h1>Make User</h1>
    <hr>
</div>
        
    </div>
    <div class="row" id="formrow">
        <div class="col-6 ">

            <form>

                <div class="form-group">
                    <label>Name</label>

                    <input type="text"  placeholder="firstName"  size="7" />&nbsp;&nbsp;
                    <input type="text" placeholder="LastName" size="5" />
                </div>
                <div class="form-group">

                    <label>Emp_Id</label>
                    <input type="text" placeholder="EmployeeId" />
                </div>
                <div class="form-group">

                    <label>Password</label>
                    <input type="password" placeholder="password" />
                </div>
                <div class="form-group">

                    <label>E-mail</label>
                    <input type="email" placeholder="E-mail" />
                </div>
                <div class="form-group">
    
                    <label>Phone</label>
                    <input type="number" placeholder="MobileNumber" />
                </div>


              
            </form>



        </div>
        <div class="col-6">
           
            

            <div class="form-group">

                <label>Role</label>
                <input type="radio" name="role" value="1" />Admin &nbsp;&nbsp;
                <input type="radio" name="role" value="2" /> TestConductor
            </div>
            <div class="form-group">
                <label>access</label>
                <input type="checkbox" name="permission"/> MakeAdmin <br>
                <label></label>   <input type="checkbox" name="permission"/> ManageAdmin<br>
                <label></label>  <input type="checkbox" name="permission"/> MakeTestconductor<br>
                <label></label>  <input type="checkbox" name="permission"/> ManageTestconductor<br>
                <label></label>  <input type="checkbox" name="permission"/> CreateQuestion<br>
                <label></label>  <input type="checkbox" name="permission"/> TestReport<br>
                <!-- <label></label>  <input type="checkbox" name="permission"/> ThemeSetting<br>  -->
            </div>
        </div>
       
        <div class="col-12">
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>

        </div>
    </div>


</div>