<div class="container">
    <div class="row ">
<div class="col-12">
    <h1>Make User</h1>
    <hr>
</div>
        
    </div>
    <div class="row" id="formrow">
        <div class="col-6 ">

            <form [formGroup]="Makeuser">

                <div class="form-group" >
                    <label>Name</label>

                    <input type="text"  placeholder="firstName"  size="7"  formControlName="firstname" />&nbsp;&nbsp;
                    <input type="text" placeholder="LastName" size="5" formControlName="lastname" />
                </div>
                <div class="form-group">

                    <label>Emp_Id</label>
                    <input type="text" placeholder="EmployeeId" formControlName="EmployeeId" />
                </div>
                <div class="form-group">

                    <label>Password</label>
                    <input type="password" placeholder="password" formControlName="password" />
                </div>
                <div class="form-group">

                    <label>E-mail</label>
                    <input type="email" placeholder="E-mail" formControlName="Email" />
                </div>
                <div class="form-group">
    
                    <label>Phone</label>
                    <input type="number" placeholder="MobileNumber"  formControlName="mobilenumber" />
                </div>


              
            </form>



        </div>
        <div class="col-6">
           
            <form [formGroup]="Makeuser"  >


                <div class="form-group">

                    <label>Gender</label>
                    <input type="radio" name="gender" value="1" formControlName="gender" />Male &nbsp;&nbsp;
                    <input type="radio" name="gender" value="2"   formControlName="gender"  /> Female
                </div>
            <div class="form-group">

                <label>Role</label>
                <input type="radio"  name="role" value="2" #role   (click)="roleFilter($event.target.value)"  checked/>Admin &nbsp;&nbsp;
                <input type="radio" name="role" value="3"  #role  (click)="roleFilter($event.target.value)" /> TestConductor
            </div>
            <div class="form-group"  >
                <label>access</label>
                <div *ngFor=" let allow of accessallow; index as i  ">
                    <input   type="checkbox"  value={{allow.accesskey}}  [checked]="allow.checked" [disabled]="allow.disabled" (click)="customAccess(allow)" />{{allow.accessname}}
                </div>
            </div>
        </form>
        </div>
       
        <div class="col-12">
            <div class="form-group text-center">
                <button  type="submit" class="btn btn-primary" (click)="createUser(role.value)" [disabled]="userCreate">Save</button>
            </div>

        </div>
    </div>
<p style="color: red;" [hidden]="formError">Please fill all details</p>

</div>